*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.4;
}

section{
    padding: 4em 0;
}

.intro{
    background-color: #f3eed9;
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 660px;

    /* border: 2px solid limegreen; */
}

.container{
    width: 85%;
    max-width: 1128px;
    margin: 0 auto;

    /* border: 2px solid limegreen; */
}

.intro__text{
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.intro__title{
    font-size: 3rem;
}

.section__title{
    font-size: 2.25rem;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 0;
    line-height: 1.1;
}

img{
    max-width: 100%;
    /* border: 2px solid orange; */
}

.section__title--dark{
    color: #824936;
    font-weight: 900;
}

.section-two h2{
    text-align: center;
}

.section-three{
    background-color: #222c2a;
}

.section-four{
    background-color: #824936;
}

.section-three, .section-four{
    color: #fff;
}

@media (min-width: 800px){
    .row {
        display: flex;
    }

    .col{
        width: 100%;
    }

    .col + .col{
        margin-left: 5em;
    }

    .intro__title{
        font-size: 3.75rem;
    }
}